@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f6f3;
  --foreground: #2b3e27;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*::-webkit-scrollbar {
  @apply w-2;
  @apply bg-background;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  @apply rounded-full;
}

.markdown-content {
  @apply text-sm;
}

.markdown-content h1 {
  @apply text-xl font-bold mb-1;
}

.markdown-content h2 {
  @apply text-lg font-bold mb-1;
}

.markdown-content h3 {
  @apply text-base font-semibold mb-1;
}

.markdown-content p {
  @apply mb-4;
}

.markdown-content a {
  @apply underline transition-colors duration-200 text-default-600;
}

.markdown-content a:hover {
  @apply text-secondary;
}

.markdown-content ul {
  @apply list-disc pl-6 mb-3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sansation text-foreground;
}
